@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.menu_container {
    -fx-background-color: #000000;
    -fx-spacing: 40;
    -fx-padding: 10 0 0 10;
}

.menu_container Button {
    -fx-background-color: #000000;
    -fx-font-size: 2em;
    -fx-font-family: "Titan One", sans-serif;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: #0B01FF;
}

.menu_container Button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #029502;
}
